* {
	margin: 0;
	padding: 0;
}
.main
{
	background-color: #ccc;
	width:400px;
	height:200px;
	position:absolute;
	right:50%;
	bottom:50%;
    margin-right: -200px;
    margin-bottom: -100px;
}
.left
{   
	background-color: #fc0;
	height:50px;
	width:50px;
	border-radius: 0 0 50px 0; 
}
.right
{
	background-color: #fc0;
	height:50px;
	width:50px;
	border-radius: 50px 0 0 0;
	position:absolute;
	left:100%;
	top:100%;
	margin-left: -50px;
	margin-top: -50px;
}